html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: gray;
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  height: 60px;
  background-color: #a2cbb6;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: #f3dba8;
}